name: Discord Training Reminder

on:
  schedule:
    # Monday, Thursday, Friday at 05:00 UK
    - cron: "0 5 * * 1,4,5"

    # Tuesday, Wednesday, Saturday, Sunday at 00:00 UK
    - cron: "0 0 * * 2,3,6,0"

  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    env:
      TZ: Europe/London
      WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install requests pytz

      - run: python ReminderBot.py
